/* colors
yellow lemon  #F8FD01
ruddy brown  #C35228
asparagus   #9FA26C
charleston green #2B2C27
baby powder  #FDFDFD

colors */
/* top bar */
.info{
  background: #FDFDFD;

}

body{
  font-family: 'Roboto', sans-serif;
}

.primary-color{
  color: #C35228;
}

.info h2{
  word-spacing : 0.6rem;
}
.info a {
  transition: color .5s ease-in-out ;

}
.info a:hover{
   color: #9FA26C;
}
/* end top bar */
/* ###################################### */


/* header section */
#header{
  background:url('../images/background-bucket-cinema-1230988.jpg');
  
}




/* end header section */

/* ###################################### */
